.page-header__navigation {
  padding: 17px 18px;
  background-color: $basic_white;

  @media (min-width: $tablet) {
    padding: 0;
    padding-left: 34px;
    padding-right: 11px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-left: 76px;
    padding-right: 55px;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50.5px;

  @media (min-width: $tablet) {

  }

  @media (min-width: $desktop) {
    margin-left: -93.3px;
  }
}

.page-header__logo-image {
  @include image-normalize();
}

.page-header__menu-button {
  position: relative;
  display: block;
  width: 22.9px;
  height: 22px;
  border: none;
  margin-left: auto;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.9px;
    height: 4px;
    background-color: $basic_blue;
    content: "";
    box-shadow: 0 9px 0 0 $basic_blue, 0 18px 0 0 $basic_blue;
  }

  &:hover::before {
    background-color: rgba($basic_blue, 0.6);
    box-shadow: 0 9px 0 0 rgba($basic_blue, 0.6), 0 18px 0 0 rgba($basic_blue, 0.6);
  }

  &:active::before {
    background-color: rgba($basic_blue, 0.3);
    box-shadow: 0 9px 0 0 rgba($basic_blue, 0.3), 0 18px 0 0 rgba($basic_blue, 0.3);
  }

  &--close {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 4;
    width: 23px;
    height: 22px;
    background: url("../img/icon-cross.svg") no-repeat center/23px 22px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--close::before {
    display: none;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__menu {
  @include list-reset();
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: $basic_blue;

  @media (min-width: $tablet) {
    position: static;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
  }

  &--open {
    display: block;
  }
}

.page-header__menu-item {
  border-top: 1px solid rgba($basic_white, 0.2);
  border-bottom: 1px solid rgba(#010101, 0.2);
  color: $basic_white;

  @media (min-width: $tablet) {
    border: none;
    color: $basic_black;

    &:first-child {
      margin-right: 47px;
    }

    &:nth-child(2) {
      margin-right: 179px;
    }

    &:nth-child(3) {
      margin-left: auto;
      margin-right: 19px;
    }
  }

  @media (min-width: $desktop) {
    &:first-child {
      margin-right: 132px;
    }

    &:nth-child(3) {
      margin-left: auto;
    }

    &:last-child {
      margin-left: 107px;
    }
  }
}

.page-header__menu-link {
  @include link-normalize();
  display: block;
  padding: 10px 18px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;

  @media (max-width: $tablet) {
    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba($basic_white, 0.3);
    }
  }

  @media (min-width: $tablet) {
    padding: 16px 11px 14px 14px;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: $basic_blue;
    }

    &:active {
      color: rgba($basic_black, 0.3);
    }

    &--active {
      color: $basic_brown;
    }
  }
}
