.promo {
  padding-top: 90px;
  padding-bottom: 85px;
  background: url("../img/promo-triangle.svg") no-repeat center 100%/320px 57px, url("../img/promo-background.jpg") no-repeat center 0/320px 389px;
  background-color: lightblue;

  @media (min-width: $tablet) {
    padding-top: 77px;
    padding-bottom: 91px;
  }

  @media (min-width: $desktop) {
    padding-top: 78px;
    padding-bottom: 90px;
  }
}

.promo__logo {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 461px;
    height: 350px;
  }
}
